.hero{
    height: 100vh;
    background: linear-gradient(180deg, #e1ecff, #e1ffea22 60%);
    display: flex;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2{
    color: #090909;
    font-size: 25px;
    font-family: 'ANTON',sans-serif;
    font-weight: 200;
}

.hero-left p {
    color: #171717;
    font-size: 100px;
    font-weight: 700;
    line-height: 6rem;
    margin-bottom: 2rem 0;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.new-hand{
    font-size: 60px;
    color: #f26e35;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 230px;
    height: 60px;
    border-radius: 75px;
    background: #f26e35;
    color: white;
    font-weight: 700;
    margin: 2rem 0;
    cursor: pointer;
    transition: 0.3s ease;
}

.one{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    transition: 0.3s;
}

.one:hover{
    transform: translateY(-1px);
}


.hero-latest-btn:active{
    
    transform: scale(0.95);
}

.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
    padding-right: 100px;
}

.hero-right img{
    max-width: 100%;
    min-height: auto;
    width: auto;
    padding-top: 2rem;
}