.newsletter{
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    gap: 30px;
}

.newsletter h1{
    color: #454545;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.newsletter p{
    color: #454545;
    font-size: 20px;
}

.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 630px;
    height: 50px;
    border-radius: 80px;
    border:  1px solid #e3e3e3;
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: 'Lato' sans-serif;
    font-size: 16px;
}

.newsletter div button{
    width: 110px;
    height: 50px;
    border-radius: 80px;
    background: black;
    color : white;
    font-size: 16px;
    cursor: pointer;
}