.item{
    width: 280px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

.item p{
 margin: 0.95rem 0;
 color: #1749a0;
}

.item-prices{
    display: flex;
    gap: 20px;
}

.item-price-new{
    color: #f37332;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old{
    color: rgb(173, 173, 173);
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item img {
    width: 100%; 
    height: auto;
}

.item img:hover{
    transform: scale(1.02);
    transition: 0.6s;
}