.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px rgb(180, 180, 180);
}

.nav-menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 50px;
    color: #1749a0;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.nav-menu ul li a {
    text-decoration: none;
    color: inherit;        
    display: flex;        
    flex-direction: column;
    align-items: center;
}

.nav-menu ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-menu ul li:hover{
    color: #f16124;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color:#f16124;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 105px;
    height: 40px;
    border: 1px solid #1749a0;
    border-radius: 75px;
    color: #1749a0;
    font-weight: 600;
    background: white;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Lato',sans-serif;
}

.nav-login-cart button:active{
    background: #f3f3f3;
}

.icon_cart{
    font-size: 25px;
    color: #1749a0;
}

.nav-cart-count{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 11px;
    background: #f16124;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}