.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
    min-height: 90vh; 
    margin-top: 80px;
    padding: 0 20px; 
}

.popular-item {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%; 
}

.popular h1{
    color: #1749a0;
    font-size: clamp(1.1rem, 2rem, 2.3rem);
    font-weight: 600;
    font-family: 'ANTON', sans-serif;
    position: relative;
    text-align: center;
}

.popular h1::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 3px;
    background: #f16124;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}


.popular-item{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
   
}