.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: 50px auto;
    padding: 0 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #ffd7c6 0%, #e1ffea22 60%);
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: #171717;
    font-size: 60px;
    font-weight: 600;
    line-height: 3.95rem;
}

.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 500;
    margin: 2rem 0;
}

.offers-left button{
    width: 200px;
    height: 50px;
    border-radius: 35px;
    background: #f16124;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.offers-left button:hover{
    background-color: #ffd7c6;
}

.offers-left button:active{
    transform: scale(0.95);
}

.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
}

